@model Employee

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Details</h1>

<form method="post" asp-action="Edit">
    <div class="row justify-content-center">
        <div  class="col-8">
            <div class="form-group">
              <label class="form-label mt-4" for="eName">Employee Name</label>
              <input type="text" placeholder="Employee Name" class="form-control" id="eName" asp-for="Name">
              <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label class="form-label mt-4" for="eType">Employee Type</label>
              <input type="text" placeholder="Employee Type" class="form-control" id="eType" asp-for="Type">
              <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group row justify-content-end" >
                <div class="col-3">
                    <button type="submit" class="btn btn-warning" id="btnBack" asp-controller="Employee" asp-action="Index">Back to list</button>
                </div> 
                <div class="col-2">
                    <button type="submit" class="btn btn-success" id="btnSave" asp-controller="Employee" asp-action="Edit">Update</button>
                </div>      
            </div>
        </div>
    </div>
</form>
